Package: pivmake-gui
Source: pivmake-gui
Version: 0.0.1
Maintainer: Fernando Pujaico Rivera <fernando.pujaico.rivera@gmail.com>
Section: education, misc
Homepage: http://github.com/trucomanx/
Architecture: i386
Priority: optional
Depends: libqt5gui5 (>=5.5.1), libqt5core5a (>=5.5.1), libqt5widgets5 (>=5.5.1)
Description: GUI to make PIV
 A graphic user interface program to make particle image velocimetry

